html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Playfair Display', sans-serif;
  }
  
  .hero-container-katalog {
    background: url('./assets/foodbg.jpg') center center/cover no-repeat;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  