.hero-logo {
  position: absolute;
  top: 25px;
  left: 80px;
  width: 200px;
  height: auto;
  z-index: 1;
}

.back-button-image {
  position: absolute;
  top: 25px; /* Align it to the same height as the logo */
  width: 50px; /* Default size of the back button */
  height: auto;
  cursor: pointer;
  z-index: 2;
  transition: left 0.3s ease, right 0.3s ease, width 0.3s ease; /* Smooth transition for resizing */
}

/* Default position: left */
.back-button-image.left {
  left: 300px; /* Adjust this value depending on the width of the logo */
}

/* Right position */
.back-button-image.right {
  right: 50px; /* Move the image to the right side */
}

/* Adjust size for different screen sizes */
@media screen and (max-width: 980px) {
  .back-button-image {
    width: 40px; /* Smaller button size on mobile */
  }

  .back-button-image.left {
    left: 50px; /* Adjust position on the left for mobile */
  }

  .back-button-image.right {
    right: 20px; /* Adjust position on the right for mobile */
  }
}

/* Adjust for smaller screens */
@media screen and (max-width: 770px) {
  .back-button-image {
    width: 35px; /* Even smaller button size on smaller mobile screens */
  }

  .back-button-image.left {
    left: 20px; /* Move the left position closer */
  }

  .back-button-image.right {
    right: 10px; /* Move the right position closer */
  }
}

.navbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-icon {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 8px 12px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.nav-links:hover {
  border-bottom: 2px solid #fff;
  transition: 0.2s;
}

@media screen and (max-width: 1265px) {
  .nav-links {
    font-size: 1.2rem;
    padding: 8px 8px;
    font-weight: 500;
  }

  .hero-logo {
    top: 40px;
    left: 60px;
    width: 150px;
  }
}

@media screen and (max-width: 980px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    padding: 20px 0;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-links {
    font-size: 1.5rem;
  }

  .hero-logo {
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 770px) {
  .hero-logo {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: auto;
  }
}
