
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  padding: 0;
}

.hero-container-kontakty {
  min-height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.5s ease-in-out;
}

.kontakty-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  gap: 20px;
  flex-direction: row;
}

.kontakty-text-container {
  flex: 1;
  padding: 20px;
  padding-left: 50px;
  color: #fbfbfb;
  font-weight: bold;
  order: 2;
  text-align: center; /* Center-aligning text */
}

.kontakty-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

.image-hover-kontakty {
  max-width: 120%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.image-hover-kontakty:hover {
  transform: scale(1.02);
}

.h5 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.kontakty-main-container {
  font-size: 16px;
  line-height: 1.8;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
}

.kontakty-title {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}

.kontakty-text {
  margin: 10px 0;
  color: #ffffff;
  font-weight: bold;
  text-align: center; /* Center-aligning paragraph text */
}

.kontakty-address {
  font-weight: bold;
}

.kontakty-subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.kontakty-link {
  color: #f4d03f;
  text-decoration: none;
  font-weight: bold;
}

.kontakty-link:hover {
  text-decoration: none;
}

.kontakty-footer {
  font-style: italic;
  margin-top: 30px;
  color: #ffffff;
  text-align: center;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreen-content {
  position: relative;
  display: inline-block;
  max-width: 90%;
  max-height: 90%;
}

.fullscreen-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

@media (max-width: 1700px) {
  .h5 {
    font-size: 28px;
  }
  .kontakty-text {
    font-size: 16px;
  }
  .kontakty-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .kontakty-subtitle {
    font-size: 16px;
  }
  .kontakty-main-container {
    font-size: 15px;
  }
  .image-hover-kontakty {
    max-width: 110%;
  }
}

@media (max-width: 1500px) {
  .h5 {
    font-size: 26px;
  }
  .kontakty-title {
    font-size: 18px;
  }
  .kontakty-subtitle {
    font-size: 15px;
  }
  .kontakty-main-container {
    font-size: 14px;
  }
  .image-hover-kontakty {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .h5 {
    font-size: 24px;
  }
  .kontakty-title {
    font-size: 16px;
  }
  .kontakty-subtitle {
    font-size: 14px;
  }
  .kontakty-main-container {
    font-size: 13px;
  }
  .image-hover-kontakty {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  .kontakty-content {
    flex-direction: column;
    text-align: center;
  }
  .kontakty-text-container {
    order: 2;
  }
  .kontakty-image-container {
    padding-top: 100px;
    order: 1;
  }

  .image-hover-kontakty {
    padding-top: 100px;
    max-width: 80%;
  }
}


@media (max-width: 1024px) {
  .h5 {
    font-size: 18px;
  }
  .kontakty-title {
    font-size: 12px;
  }
  .kontakty-subtitle {
    font-size: 10px;
  }
  .kontakty-main-container {
    font-size: 9px;
  }
  .kontakty-text {
    font-size: 10px;
  }
  .li {
    font-size: 9px;
  }
}
