html {
    scroll-behavior: smooth;
  }
  
  body {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  }
  
  .retail-hero-container {
    position: relative;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents video overflow */
  }
  
  .retail-hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the area */
    transform: translate(-50%, -50%);
    z-index: -1; /* Places video behind content */
  }
  
  .retail-hero-container h1 {
  position: relative; /* Ensures text stays above the video */
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 75px;
  text-align: center;
  }
  
  .retail-hero-container p {
  position: relative; /* Ensures text stays above the video */
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 36px;
  text-align: center;
  }
  
  .hero-btns {
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  }
  
  .hero-btns .btn {
  margin: 6px;
  }
  
  .fa-play-circle {
  margin-left: 4px;
  }
  
  .proradost-bar {
    background-color: #343131; 
    width: 100%; 
    height: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: white; 
    font-family: Arial, sans-serif;
  }
  
  .contact-info {
    display: flex;
    gap: 20px; 
  }
  
  .contact-info span {
    display: flex;
    align-items: center;
    gap: 5px; 
  }
  
  
  @media screen and (max-width: 768px) {
  .hero-container h1 {
    font-size: 60px; 
  }
  
  .hero-container p {
    font-size: 25px; 
  }
  
  .btn-mobile {
    display: block;
  }
  
  .btn {
    width: 100%; 
  }
  }
  